
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(254, 240, 242), rgb(252, 247, 242) 50%, rgb(254, 240, 242));

}

.navbar {
    font-family: "DM Sans", sans-serif;
    background-color: rgb(254, 240, 242); 
}

.logo img {
    height: 2.5vw;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: -.15vw;
}

.nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center 
}

.nav-links li:not(:last-child)::after {
    content: " | "; 
    margin-left: 25px;
    margin-right: 25px;
    color: black;
    font-size: 1vw;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease;
    font-weight: bold;
    font-size:1vw;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 15px;
    width: 20vw; 
    height: 3.25vw;
    margin-left: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.search-container input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    height: 2vw;
}

input::placeholder {
    font-size: .8vw;
  }



.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 2vw;
    width: 2vw;
}

.search-btn img{
    height: 1.5vw;
    width: 1.5vw;
}

.free-valuation {
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    height:3.0vw;
    width: 14vw;
    justify-content:space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}

.free-valuation p{
    font-size: .8vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-bottom: -.1vw;
}

.free-valuation img{
    height: 1.5vw;
    width: 1.5vw;
    padding: 0px;
    transform: rotate(13deg);
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.phone-icon, .hamburger {
    cursor: pointer;
}

.phone-icon img{
    height:1.8vw;
    width: 1.8vw;
}

.hamburger {
    display: block;
}

.hamburger-line {
    width: 1.5vw;
    height: 0.15vw;
    background-color: rgb(58, 58, 58);
    margin: 0.3vw 0;
    transition: 0.4s;
}

.hamburger-line:last-child {
    display: none;
}

@media (max-width: 1920px) {

    .logo img {
        height: 48px;
    }
    
    .nav-links li:not(:last-child)::after {
        font-size: 19.2px;
    }
    
    .nav-links li a {
        font-size:19.2px;
    }
    
    .nav-icons {
        gap: 2.5vw;
    }
    
    .phone-icon img{
        height:34.56px;
        width: 34.56px;
    }

    .hamburger-line {
        width: 28.8px;
        height: 02.88px;
        background-color: rgb(58, 58, 58);
        margin: 5.76px 0;
        transition: 0.4s;
    }
}

@media (max-width: 1600px) {

    .search-container {
        width: 15vw; 
        margin-left: 1vw;
    }
    
    .search-container input {
        height: 1.5vw;
    }
    
    input::placeholder {
        font-size: .8vw;
      }
    
    .search-btn {
        height: 2vw;
        width: 2vw;
    }
    
    .search-btn img{
        height: 1.5vw;
        width: 1.5vw;
    }
    .logo img {
        margin-right: 0px;
    }

}

@media (max-width: 1300px) {
    .nav-links {
        display: none;
    }

    .search-container {
        width: 25.5vw; 
        height: 3vw;
    }
    
    .search-container input {
        height: auto;
    }
    
    .free-valuation {
        width: 14vw; 
        height:3vw;
    }
    
    .free-valuation p{
        font-size: .8vw;
    }
    
}

@media (max-width: 1068px) {
    .nav-links,.search-container,.search-btn,.free-valuation {
        display: none;
    }
}

@media (max-width: 678px) {
    .logo img {
        height: 7.06vw;
    }
}

/*end of the navbar*/

/*-------footer----------*/

footer {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0); 
    color: #ffffff;
      }
  
      .footer-upper {
      display: flex;
      justify-content: space-between;
      }
  
      .footer-upper > div {
      height: 17.5vw;
      }
  
      .footer-upper-one { 
          width: 35%; display: 
          flex;flex-direction: column; 
          justify-content: left; 
          align-items: normal;
          color: #ffffff;
        }
      .footer-upper-one img{ 
          width:80%; 
          padding-left: 3.6vw;
          padding-top: 4.2vw;
      }
      .footer-upper-one p{ 
          font-size: 1vw; 
          padding-left: 3.65vw; 
          padding-top: 1.75vw;
          color: #ffffff;
      }
      .footer-upper-two { 
          width: 17%;
          display: flex;
          flex-direction: column;
          padding-top: 4.2vw;
      }
      .footer-upper-three { 
          width: 18%; 
          display: flex;
          flex-direction: column;
          padding-top: 4.2vw;
      }
      .footer-upper-four { 
          width: 27%;display: flex;
          flex-direction: column;
          padding-top: 4.2vw;
          }
  
      .footer-upper-two a,.footer-upper-three a,.footer-upper-four a{
          padding-bottom: 0.8vw;
          font-size: 1.2vw;
          text-decoration: none;
          color: black;
          font-weight: 500;
          color: #ffffff;
      }
  
      .footer-divider {
      width: 100%;
      height: 2.25vw;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
  
      .footer-divider hr{
          width: 94%;
          border: 0.102vw solid rgb(255, 255, 255);
      }
  
      .footer-info {
      display: flex;
      width: 100%;
      height: 80px;
      margin-top: 2vw;
      }
  
      .footer-info-left {
      width: 65%;
      display: flex;
      align-items: baseline;
      }
  
      .footer-info-left a{
          text-decoration: none;
          color: black;
          font-size: 1vw;
          margin-right: 1.5vw;
          color: #ffffff;
      }
  
      .extrapadded{
          margin-left: 3.0vw;
      }
  
      .footer-info-right {
      width: 35%;
      display: flex;
      align-items: baseline;
      justify-content: right;
      padding-right: 3vw;
      }
  
      .footer-info-right img{
          height: 1.5vw;
          width: 1.5vw;
          margin-left:1vw;
          filter: invert(100%);
      }
  
  
      .footer-info-right p{
          font-size: 1vw;
          margin-left: 1vw;
          color: #ffffff;
      }
  
      .footer-tnc {
      display: flex;
      width: 50%;
      height: 4.5vw;
      margin-top: 10px;
      align-items: center;
      color: #ffffff;
      }
  
      .footer-tnc p{
          margin-left: 3.0vw;
          font-size: 0.8vw
      }
      
  /*--------1st div for hr---------*/

  .div1{
    display: flex;
    justify-content: center;
  }

  .div1 hr{
  width: 92%;
  height: 0px;
  opacity: 0.65;
  border: 2px solid rgb(0, 0, 0) !important;
  margin-bottom: 2vw !important;
  }

  /*----------2nd div----------*/

  .div2{
    display: flex;
    align-items: center;
    width: 90vw;
    justify-content: space-between;
    margin: 0vw 5vw 3vw 5vw;
  }

  .div2 h1{
    font-size: 3.5vw;
    margin: 0;
  }

  .div2 img{
    width: 2vw;
    height: 2vw;
    margin: .5vw;
    margin-bottom: .25vw;
  }

  .div2 h3{
    font-size: 1.5vw;
    margin: .5vw;
    font-weight: normal;
  }

  .div2 .btn-secondary{
    display: flex !important;
    flex-direction: row !important;
    width: 15vw !important;
    color: #000 !important;
    align-items: center;
    justify-content: space-between;
    background: transparent !important;
    border-radius: unset !important;
    border: unset !important;
    border-bottom: 2px solid black;
    padding: .35vw .8vw .35vw .25vw !important;
    width: 20vw !important;
    background-color: #ffffff !important;
  }

  .div2 .btn .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.div2 .btn-check:checked+.btn,.div2 .btn.active,.div2 .btn.show,.div2 .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: rgb(0, 0, 0) !important;
    background-color: white !important;
    border-color: rgb(0, 0, 0) !important;
    opacity: .5 !important;
}


.div2 .btn-secondary{
--bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: transparent !important;
    --bs-btn-hover-border-color: black !important;

}

/*---------3rd div----------*/

.div3{
    background-color: white;
    color: #000;
    display: flex;  
    padding:5vw 10vw; 
}

.div3right{
    width: 25vw; 
}

.div3right img{
    width: 25vw;
    object-fit: cover;
}

.div3left{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 7vw;
}

.div3 .btn-secondary{
    display: flex !important;
    flex-direction: row !important;
    width: 15vw !important;
    color: #ffffff !important;
    align-items: center;
    justify-content: space-between;
    background: transparent !important;
    border-radius: unset !important;
    border: unset !important;
    border-bottom: 2px solid black;
    padding: .35vw .8vw .35vw .25vw !important;
    width: 18vw !important;
    background-color: #000000 !important;
  }

  .div3 .btn .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.div3 .btn-check:checked+.btn,.div3 .btn.active,.div3 .btn.show,.div3 .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0) !important;
    opacity: .5 !important;
}


.div3 .btn-secondary{
--bs-btn-hover-color: black !important;
    --bs-btn-hover-bg: transparent !important;
    --bs-btn-hover-border-color: black !important;

}

.div3 .btn img{
    height: 1.5vw;
    margin: .5vw;
}

.div3 .btn h3{
    font-size: 1.5vw;
    font-weight: normal;
    margin: .5vw;
}

.div3c{
display: flex;
justify-content: left !important;


}

.one1,.one2,.one3 {
    display: flex;
      margin: 3.5vw 2vw 3.5vw 0vw;
      background-color: white;
}

.shape{
    width: 4vw;
      height: 4vw;
      background-color: #d42426;
      clip-path: polygon(
        0 0,       
        100% 0,    
        100% 75%,  
        75% 100%, 
        0 100%  
      );   
      display: flex;
      justify-content: center;
      align-items: center;
}

.address{
    display: flex;
    align-items: center;
    margin-left:2vw;
    font-size: 1.2vw;
}

.cellnumber{
    display: flex;
    align-items: center;
    margin-left:2vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.emailinfo{
    display: flex;
    align-items: center;
    margin-left:2vw;
    font-size: 1.2vw;
    font-weight: bold;
}

.shape img{
    height: 2vw;
    filter: invert(1);
}

.two{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 3.5vw ;
    padding-left: 5vw;
}

.two h1{
    font-size: 2vw;
}

.two h2{
    font-size: 1.25vw;
    font-weight: normal;
    margin: 1.5vw 0 1vw 0;
}

.div3 hr{
    color: #000;
    opacity: 1;
    height: 0.125vw;
    width: 50vw;
    margin: 0;
    padding: 0;
    margin-bottom: 2vw;
}

.dvdhr{
    display: flex;
    margin: 0;
    padding: 0;
}
